tests:
  acutecheck:
    list-command-correct:
      - /ac list
      - echo Was the list of test groups displayed?
      - verify
      - /ac list acutecheck fake-group
      - echo Were the 'acutecheck' tests listed along with a message that 'fake-group' does not exist?
      - verify
    help-command-correct:
      - /ac help
      - echo Was the help menu displayed correctly?
      - verify
  acutecheck-test:
    foo:
      - echo Hello, world!
    bar:
      - echo testing branches...
      - wait
      - echo ...and now for `verify`
      - verify
      - echo verify passed!
    bad:
      - not a real command...
